In [ ]:
Sets: Create two sets of students enrolled in different courses and find the students who are enrolled in both courses.

In [5]:
# Task: Find students enrolled in both courses
course_a_students = {"Tulsi", "Pragya", "Sameer", "Diana"}
course_b_students = {"sita", "Ram", "Pragya", "Tulsi"}

common_students = course_a_students.intersection(course_b_students)

print("Students enrolled in both courses:", common_students)
print("Students enrolled in different courses:", common_students)

Students enrolled in both courses: {'Pragya', 'Tulsi'}
Students enrolled in different courses: {'Pragya', 'Tulsi'}

In [ ]:
Dictionary: Create a dictionary that stores the prices of 5 items from a grocery store. Practice adding, updating, and removing items.

In [7]:
# Task: Grocery store prices dictionary
grocery_prices = {"Blueberry": 4.20,"Bananas": 3.50,"Carrots": 0.80, "Potatos": 3.50,"Eggs": 4.00
}

# Add an item
grocery_prices["chips"] = 2.20

# Update an item
grocery_prices["Eggs"] = 4.20

# Remove an item
del grocery_prices["Potatos"]

print("Updated grocery prices:", grocery_prices)

Updated grocery prices: {'Blueberry': 4.2, 'Bananas': 3.5, 'Carrots': 0.8, 'Eggs': 4.2, 'chips': 2.2}

In [ ]:
List
: Create a list of your top 5 favorite movies, and practice adding, removing, and accessing them.

In [9]:
# Task: Favorite movies list
favorite_movies = ["Aama", "TareJamenpar", "Heretic", "A Real Pain", "Blink Twice"]

# Add a movie
favorite_movies.append("Aama")

# Remove a movie
favorite_movies.remove("A Real Pain")

# Access a movie
print("My top movie is:", favorite_movies[0])

print("Updated favorite movies list:", favorite_movies)

My top movie is: Aama
Updated favorite movies list: ['Aama', 'TareJamenpar', 'Heretic', 'Blink Twice', 'Aama']

In [ ]:
Tuple: Create a tuple with information about your favorite book (title, author, publication year) and print each element.

In [11]:
# Task: Favorite book tuple
favorite_book = ("2007", "Narayan Wagle", 2005)

# Print each element
print("Favorite book title:", favorite_book[0])
print("Author:", favorite_book[1])
print("Publication year:", favorite_book[2])

Favorite book title: 2007
Author: Narayan Wagle
Publication year: 2005