In [ ]:
# load csv Dataset

In [25]:
df = pd.read_csv("C:\\Users\\kishr\\Desktop\\Tulsi\\Takio Doc\\Data sets from Kaggle\\market_comments.csv")

In [28]:
df.head()

,item_category,item_id,brand,user_id,date,comment,rating,tonality
0,401,4010201,826,2217,2013-06-28,"2,5 года работала и все...устала! Лампочка гор...",2.0,negative
1,403,4030101,1425,1026,2010-07-04,Через 2 месяца после истечении гарантийного ср...,2.0,negative
2,401,4010401,124,2769,2010-05-27,пользуюсь уже три недели. нареканий ни каких н...,4.0,positive
3,203,2030301,93,508,2016-10-11,Ребят этот системный блок подойдёт для игры кс...,5.0,positive
4,205,2050201,656,1049,2010-02-26,"я считаю, что яри замечательный телефон! Прият...",5.0,positive

In [30]:
df.tail()

,item_category,item_id,brand,user_id,date,comment,rating,tonality
14276,403,4030201,2159,2957,2010-08-28,Не плохая машинка за такие деньги. Очень хорош...,4.0,positive
14277,405,4050303,638,2957,2014-06-10,"Отличный кондиционер, работает тихо,в режиме н...",5.0,positive
14278,411,4110102,48,2947,2010-11-12,Пылесос отличный. Мощный-это раз. Не по-детски...,5.0,positive
14279,405,4050104,617,1225,2017-07-10,Три скорости,1.0,negative
14280,515,5150101,11,1777,2015-08-10,"Думал что у меня голова не стандартная, но эти...",5.0,positive

In [ ]:
# Displays the first 10 rows

In [32]:
print(df.head(10))

   item_category  item_id  brand  user_id        date  \
0            401  4010201    826     2217  2013-06-28
1            403  4030101   1425     1026  2010-07-04
2            401  4010401    124     2769  2010-05-27
3            203  2030301     93      508  2016-10-11
4            205  2050201    656     1049  2010-02-26
5            405  4050102    829      576  2014-05-21
6            203  2030201    995     2656  2010-02-27
7            404  4040203    759     1405  2015-01-16
8            406  4060101     48     1538  2010-08-06
9            412  4120101     11        7  2012-07-23

                                             comment  rating  tonality
0  2,5 года работала и все...устала! Лампочка гор...     2.0  negative
1  Через 2 месяца после истечении гарантийного ср...     2.0  negative
2  пользуюсь уже три недели. нареканий ни каких н...     4.0  positive
3  Ребят этот системный блок подойдёт для игры кс...     5.0  positive
4  я считаю, что яри замечательный телефон! Прият...     5.0  positive
5  Сегодня купила 2 таких вентилятора! Ужасный. С...     1.0  negative
6  привезли ноут, по качеству корпуса и дизайну 5...     5.0  positive
7  Купила этот увлажнитель, шумный, подсветка меш...     2.0  negative
8  Комбайн отличный. Пользуюсь 2 года. Пользуюсь ...     5.0  positive
9  Отличный аппарат. авто выключение вообще преле...     5.0  positive

In [36]:
# Display summary information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14281 entries, 0 to 14280
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_category  14281 non-null  int64
 1   item_id        14281 non-null  int64
 2   brand          14281 non-null  int64
 3   user_id        14281 non-null  int64
 4   date           14281 non-null  object
 5   comment        14281 non-null  object
 6   rating         14281 non-null  float64
 7   tonality       14281 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 892.7+ KB

In [38]:
# Displays a detailed summary of the Dataframe
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14281 entries, 0 to 14280
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_category  14281 non-null  int64
 1   item_id        14281 non-null  int64
 2   brand          14281 non-null  int64
 3   user_id        14281 non-null  int64
 4   date           14281 non-null  object
 5   comment        14281 non-null  object
 6   rating         14281 non-null  float64
 7   tonality       14281 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 892.7+ KB

In [ ]:
# Displays row and columns of the Dataframe

In [44]:
df

,item_category,item_id,brand,user_id,date,comment,rating,tonality
0,401,4010201,826,2217,2013-06-28,"2,5 года работала и все...устала! Лампочка гор...",2.0,negative
1,403,4030101,1425,1026,2010-07-04,Через 2 месяца после истечении гарантийного ср...,2.0,negative
2,401,4010401,124,2769,2010-05-27,пользуюсь уже три недели. нареканий ни каких н...,4.0,positive
3,203,2030301,93,508,2016-10-11,Ребят этот системный блок подойдёт для игры кс...,5.0,positive
4,205,2050201,656,1049,2010-02-26,"я считаю, что яри замечательный телефон! Прият...",5.0,positive
...,...,...,...,...,...,...,...,...
14276,403,4030201,2159,2957,2010-08-28,Не плохая машинка за такие деньги. Очень хорош...,4.0,positive
14277,405,4050303,638,2957,2014-06-10,"Отличный кондиционер, работает тихо,в режиме н...",5.0,positive
14278,411,4110102,48,2947,2010-11-12,Пылесос отличный. Мощный-это раз. Не по-детски...,5.0,positive
14279,405,4050104,617,1225,2017-07-10,Три скорости,1.0,negative
14280,515,5150101,11,1777,2015-08-10,"Думал что у меня голова не стандартная, но эти...",5.0,positive

In [ ]:
# Displays how many row and columns of the Dataframe

In [46]:
df.shape

(14281, 8)

In [ ]:
# Displays columns summary of the Dataframe

In [48]:
df.columns

Index(['item_category', 'item_id', 'brand', 'user_id', 'date', 'comment',
       'rating', 'tonality'],
      dtype='object')

In [ ]:
#Accesses the column named 'ColumnName'

In [58]:
df['item_id']

0        4010201
1        4030101
2        4010401
3        2030301
4        2050201
          ...
14276    4030201
14277    4050303
14278    4110102
14279    4050104
14280    5150101
Name: item_id, Length: 14281, dtype: int64

In [64]:
# Access rows by index position
df.iloc[0]

item_category                                                  401
item_id                                                    4010201
brand                                                          826
user_id                                                       2217
date                                                    2013-06-28
comment          2,5 года работала и все...устала! Лампочка гор...
rating                                                         2.0
tonality                                                  negative
Name: 0, dtype: object

In [70]:
df.loc[0]

item_category                                                  401
item_id                                                    4010201
brand                                                          826
user_id                                                       2217
date                                                    2013-06-28
comment          2,5 года работала и все...устала! Лампочка гор...
rating                                                         2.0
tonality                                                  negative
Name: 0, dtype: object

In [78]:
# Filter rows where a specific column meets a condition
# This retrieves rows from the DataFrame where the values in
# ColumnName' are greater than 700.
df[df['brand'] > 700].head()

,item_category,item_id,brand,user_id,date,comment,rating,tonality
0,401,4010201,826,2217,2013-06-28,"2,5 года работала и все...устала! Лампочка гор...",2.0,negative
1,403,4030101,1425,1026,2010-07-04,Через 2 месяца после истечении гарантийного ср...,2.0,negative
5,405,4050102,829,576,2014-05-21,Сегодня купила 2 таких вентилятора! Ужасный. С...,1.0,negative
6,203,2030201,995,2656,2010-02-27,"привезли ноут, по качеству корпуса и дизайну 5...",5.0,positive
7,404,4040203,759,1405,2015-01-16,"Купила этот увлажнитель, шумный, подсветка меш...",2.0,negative

In [134]:
# Group by a column and calculate the mean
df.sort_values(by='brand',ascending=True).head()

,item_category,item_id,brand,user_id,date,comment,rating,tonality,Total
9507,118,1180103,1,1511,2016-08-23,"После зарядки аккумулятора хватает надолго, су...",4.0,positive,4.0
7229,107,1070902,1,2937,2011-02-14,Если флешку перестал видеть - сбросьте настрой...,5.0,positive,5.0
6080,207,2070202,1,2678,2010-08-16,"Купил плеер,не сильно долго думал,так как хоте...",5.0,positive,5.0
7221,103,1030105,1,2656,2010-07-05,качает что надо...мне оч понравилось звучание!...,5.0,positive,5.0
4806,304,3040105,1,767,2010-04-08,Дизайн выполнен в черном стиле с белыми полоск...,4.0,positive,4.0