In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\kishr\anaconda3\lib\site-packages (1.26.4)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kishr\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kishr\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kishr\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kishr\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kishr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kishr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [11]:

# Dataset
data = {
    'Student':["Raju" , "Amit", "Jacob" , "David"],
        'Rank': [1,3,2,5],
        'Marks':[95,85,70,60]
}
res = pd.DataFrame(data)
print("Student Record\n\n",res)

Student Record

   Student  Rank  Marks
0    Raju     1     95
1    Amit     3     85
2   Jacob     2     70
3   David     5     60