In [ ]:
FEATURE EXTRACTION
- CORE PART OF DATA PREPROCESSING OR ML PIPELINE

1. GENERATE SYNTHETIC DATA
2. EXTRACT/ENCODING
    A) STATISTICAL FEATURES[MEAN, STD....]
    B) DATA/TIME FEATURES
    C) ENCODING CATEGORICAL FEATURES
    D) TEXT FEATURE EXTRACTION USING TF-IDF

In [5]:
import numpy as np # numerical operations
import pandas as pd # habdling tabular dat

In [7]:
# Set seed for reproducibility
np.random.seed(42)

In [21]:
# Generate random data
data = {
    'id': range(1,101),
    'ages': np.random.randint(18,66,100),
    'income': np.random.normal(50000, 15000, 100),
    'signup_date': pd.date_range(start = '2002-01-01', periods = 100, freq='D'),
    'categories':  np.random.choice(['Basic','Premium','Gold'],100),
    'feedback':  np.random.choice(['Good','Not Good','Average','poor'],100)
    
}
data

{'id': range(1, 101),
 'ages': array([58, 53, 44, 34, 26, 50, 37, 30, 45, 65, 46, 30, 63, 52, 23, 35, 22,
        64, 42, 19, 27, 47, 62, 22, 50, 18, 35, 49, 64, 28, 38, 43, 42, 39,
        44, 30, 50, 51, 58, 52, 18, 38, 65, 23, 45, 34, 22, 48, 22, 55, 20,
        40, 54, 54, 27, 27, 36, 34, 38, 31, 26, 63, 18, 62, 30, 21, 18, 57,
        49, 51, 45, 48, 25, 56, 43, 51, 20, 29, 18, 61, 22, 47, 47, 34, 65,
        64, 40, 32, 54, 38, 31, 19, 28, 56, 55, 51, 55, 51, 35, 47]),
 'income': array([36971.27094428, 51746.16470181, 55402.53503203, 75778.99061021,
        62991.05774064, 48446.35850148, 53301.11493205, 21741.74766149,
        64529.42726941, 59685.99183085, 68182.34649838, 47839.26052588,
        51920.61602838, 42779.9247608 , 32779.17640766, 40966.15695677,
        22710.49325705, 63719.08273391, 17376.7624602 , 80482.13788939,
        23538.0965105 , 72498.33013513, 36379.18934644, 58415.49601207,
        38713.2994951 , 75106.22239087, 50655.54002126, 66105.23018148,
        51140.72059845, 55294.39963308, 59241.5998103 , 42069.1402175 ,
        30795.63307647, 30475.95011387, 50762.63853704, 42670.39871918,
        17812.14860225, 57694.11876187, 31722.6553807 , 32595.12462096,
        49375.6094857 , 36498.26512889, 51837.58247509, 79601.91337404,
        44314.13530727, 34106.31280675, 52722.60466441, 38371.52309498,
        50356.27222997, 54734.53965022, 49472.04592306, 50848.38424384,
        52881.35570949, 73956.69083781, 46206.2104384 , 51911.51610002,
        63002.73595013, 57065.55247127, 44626.86199264, 63527.95155527,
        36931.29678328, 46598.75859053, 38433.70189243, 58642.61899207,
        67843.99671927, 53350.04238045, 51128.98918894, 36874.86998813,
        39461.7332432 , 32101.09826542, 17349.77916092, 44134.48998154,
        45528.42095971, 82592.6344306 , 73442.20349312, 58334.6035945 ,
        81267.15845812, 70863.55244278, 19886.47967956, 66011.84258352,
        60671.81397792, 45659.33079301, 28771.96220724, 58931.01703566,
        18813.08415538, 49677.87556438, 40743.6438757 , 31117.36937672,
        67832.01511478, 49380.37354129, 52609.49493754, 63618.07920864,
        49868.14165545, 56771.16797971, 62237.77430734, 58501.33890378,
        54289.70249282, 76746.69253063, 68629.55897015, 48713.55246151]),
 'signup_date': DatetimeIndex(['2002-01-01', '2002-01-02', '2002-01-03', '2002-01-04',
                '2002-01-05', '2002-01-06', '2002-01-07', '2002-01-08',
                '2002-01-09', '2002-01-10', '2002-01-11', '2002-01-12',
                '2002-01-13', '2002-01-14', '2002-01-15', '2002-01-16',
                '2002-01-17', '2002-01-18', '2002-01-19', '2002-01-20',
                '2002-01-21', '2002-01-22', '2002-01-23', '2002-01-24',
                '2002-01-25', '2002-01-26', '2002-01-27', '2002-01-28',
                '2002-01-29', '2002-01-30', '2002-01-31', '2002-02-01',
                '2002-02-02', '2002-02-03', '2002-02-04', '2002-02-05',
                '2002-02-06', '2002-02-07', '2002-02-08', '2002-02-09',
                '2002-02-10', '2002-02-11', '2002-02-12', '2002-02-13',
                '2002-02-14', '2002-02-15', '2002-02-16', '2002-02-17',
                '2002-02-18', '2002-02-19', '2002-02-20', '2002-02-21',
                '2002-02-22', '2002-02-23', '2002-02-24', '2002-02-25',
                '2002-02-26', '2002-02-27', '2002-02-28', '2002-03-01',
                '2002-03-02', '2002-03-03', '2002-03-04', '2002-03-05',
                '2002-03-06', '2002-03-07', '2002-03-08', '2002-03-09',
                '2002-03-10', '2002-03-11', '2002-03-12', '2002-03-13',
                '2002-03-14', '2002-03-15', '2002-03-16', '2002-03-17',
                '2002-03-18', '2002-03-19', '2002-03-20', '2002-03-21',
                '2002-03-22', '2002-03-23', '2002-03-24', '2002-03-25',
                '2002-03-26', '2002-03-27', '2002-03-28', '2002-03-29',
                '2002-03-30', '2002-03-31', '2002-04-01', '2002-04-02',
                '2002-04-03', '2002-04-04', '2002-04-05', '2002-04-06',
                '2002-04-07', '2002-04-08', '2002-04-09', '2002-04-10'],
               dtype='datetime64[ns]', freq='D'),
 'categories': array(['Basic', 'Premium', 'Premium', 'Premium', 'Gold', 'Basic', 'Basic',
        'Gold', 'Basic', 'Premium', 'Premium', 'Premium', 'Basic',
        'Premium', 'Gold', 'Gold', 'Basic', 'Gold', 'Gold', 'Basic',
        'Premium', 'Premium', 'Premium', 'Basic', 'Gold', 'Premium',
        'Premium', 'Basic', 'Premium', 'Basic', 'Gold', 'Basic', 'Basic',
        'Basic', 'Basic', 'Gold', 'Gold', 'Premium', 'Gold', 'Gold',
        'Premium', 'Gold', 'Basic', 'Basic', 'Premium', 'Premium',
        'Premium', 'Basic', 'Gold', 'Basic', 'Premium', 'Gold', 'Gold',
        'Basic', 'Premium', 'Basic', 'Gold', 'Basic', 'Basic', 'Premium',
        'Premium', 'Gold', 'Basic', 'Basic', 'Basic', 'Gold', 'Gold',
        'Premium', 'Premium', 'Premium', 'Basic', 'Basic', 'Premium',
        'Basic', 'Premium', 'Gold', 'Premium', 'Gold', 'Basic', 'Premium',
        'Basic', 'Gold', 'Gold', 'Gold', 'Basic', 'Basic', 'Basic',
        'Basic', 'Gold', 'Gold', 'Premium', 'Premium', 'Basic', 'Gold',
        'Gold', 'Gold', 'Premium', 'Premium', 'Gold', 'Gold'], dtype='<U7'),
 'feedback': array(['Average', 'poor', 'Not Good', 'poor', 'poor', 'Average',
        'Average', 'Good', 'Good', 'poor', 'Not Good', 'Average',
        'Average', 'poor', 'Good', 'Not Good', 'Good', 'Good', 'Good',
        'Good', 'Average', 'Average', 'Good', 'Not Good', 'poor',
        'Not Good', 'Not Good', 'Not Good', 'Good', 'Average', 'Not Good',
        'Good', 'Not Good', 'Not Good', 'Good', 'Average', 'Average',
        'poor', 'Good', 'poor', 'poor', 'poor', 'Average', 'Good', 'poor',
        'Good', 'Good', 'Average', 'poor', 'poor', 'Good', 'Not Good',
        'Average', 'Average', 'Average', 'Average', 'poor', 'poor',
        'Not Good', 'Average', 'Average', 'Good', 'poor', 'Average',
        'Not Good', 'Not Good', 'poor', 'Not Good', 'Not Good', 'poor',
        'Average', 'Average', 'Not Good', 'Not Good', 'Average', 'poor',
        'Not Good', 'Good', 'poor', 'Not Good', 'Not Good', 'Good', 'Good',
        'Average', 'poor', 'poor', 'Average', 'poor', 'poor', 'poor',
        'poor', 'poor', 'Good', 'poor', 'Good', 'poor', 'Average',
        'Not Good', 'Good', 'poor'], dtype='<U8')}

In [23]:
df = pd.DataFrame(data)
df

     id  ages        income signup_date categories  feedback
0     1    58  36971.270944  2002-01-01      Basic   Average
1     2    53  51746.164702  2002-01-02    Premium      poor
2     3    44  55402.535032  2002-01-03    Premium  Not Good
3     4    34  75778.990610  2002-01-04    Premium      poor
4     5    26  62991.057741  2002-01-05       Gold      poor
..  ...   ...           ...         ...        ...       ...
95   96    51  58501.338904  2002-04-06       Gold      poor
96   97    55  54289.702493  2002-04-07    Premium   Average
97   98    51  76746.692531  2002-04-08    Premium  Not Good
98   99    35  68629.558970  2002-04-09       Gold      Good
99  100    47  48713.552462  2002-04-10       Gold      poor

[100 rows x 6 columns]